<app-step-nav (stepChange)="stepChanged($event)"></app-step-nav>
<div class="h3 font-weight-bold">{{'media.title' | translate}}</div>
<hr class="w-100 border-dark">
<div class="row">
  <div class="col-lg-6 pb-3 pb-lg-0">
    <form>
      <div class="form-group">
        <label for="campaignName">{{'media.campName' | translate}}</label>
        <div style="display:flex;justify-content: flex-end">
          <input type="text" [(ngModel)]="mediaJSON.campaignName" [ngModelOptions]="{standalone: true}" class="form-control" id="campaignName"
              (ngModelChange)="saveCampaignInfo('cName',$event)"   autocomplete="off">
        </div>
        <p *ngIf="mediaJSON.cNameRequired" class="errorMsg">*{{'media.required' | translate}}</p>
        <p *ngIf="mediaJSON.cNameError && !mediaJSON.cNameRequired" class="errorMsg">*{{'media.campError' | translate}}</p>
      </div>
      <div class="form-group">
        <label for="lpUrl">{{'media.landingUrl' | translate}}</label>
        <div style="display:flex;justify-content: flex-end">
          <input type="text" [(ngModel)]="mediaJSON.lpUrl" (ngModelChange)="clearDomainTimeout();saveCampaignInfo('lpUrl',$event)"
           [ngModelOptions]="{standalone: true}" class="form-control" id="lpUrl" autocomplete="off">
        </div>
        <p class="warning" *ngIf="mediaJSON.lpUrl && mediaJSON.landingPageErrorMessage === 0 && !mediaJSON.lpUrl.startsWith('https://')">*{{'media.info' | translate}}</p>
        <p *ngIf="mediaJSON.lpUrl && mediaJSON.landingPageErrorMessage == 1" class="errorMsg">*{{'media.required' | translate}}</p>
        <p *ngIf="mediaJSON.landingPageErrorMessage == 3" class="errorMsg">*{{'media.landingError' | translate}}</p>
        <p *ngIf="mediaJSON.landingPageErrorMessage == 2" class="errorMsg">*{{'media.invalidLanding' | translate}}</p>
      </div>
    </form>
    <div class="card">
      <div class="card-body rounded galleryContainer">
        <div class="card-title h4 text-center w-100">
          {{'media.commercials' | translate}}
        </div>
        <ul class="nav nav-tabs" #galleryTabs>
          <li class="nav-item" [attr.data-gallery-type]="galleryTypes.ALL">
            <a class="nav-link" [class.active]="mediaJSON.galleryType==='all'" style="cursor: pointer;" (click)="loadGallery(galleryTypes.ALL)">{{'media.all' | translate}}</a>
          </li>
          <li class="nav-item" [attr.data-gallery-type]="galleryTypes.CORPORATE">
            <a class="nav-link" [class.active]="mediaJSON.galleryType==='corporate'" style="cursor: pointer;" (click)="loadGallery(galleryTypes.CORPORATE)">{{'media.corpVideo' | translate}}</a>
          </li>
          <li class="nav-item" [attr.data-gallery-type]="galleryTypes.COMPANY">
            <a class="nav-link" [class.active]="mediaJSON.galleryType==='company'" style="cursor: pointer;" (click)="loadGallery(galleryTypes.COMPANY)">{{'media.companyVideo' | translate}}</a>
          </li>
          <li class="nav-item" [attr.data-gallery-type]="galleryTypes.USER">
            <a class="nav-link" [class.active]="mediaJSON.galleryType==='user'" style="cursor: pointer;" (click)="loadGallery(galleryTypes.USER)">{{'media.myVideo' | translate}}</a>
          </li>
          <li class="nav-item ml-auto" [hidden]="this.mediaJSON.galleryType===galleryTypes.ALL || this.mediaJSON.galleryType===galleryTypes.CORPORATE">
            <button class="btn btn-cms-primary" (click)="uploadVideo(videoUploadDialog, companyVideoUploadDialog, galleryTabs)">{{'media.addVdo' | translate}}</button>
          </li>
        </ul>
        <div class="row galleryBox">
          <div class="col my-auto text-center text-cms-primary" *ngIf="!mediaJSON.thumbnailArray || mediaJSON.thumbnailArray.length===0">{{'media.noVideo' | translate}}</div>
          <div class="col-xl-4 col-md-6 text-center py-2" *ngFor="let obj of mediaJSON.thumbnailArray;let i=index" (click)="selectVideo(obj,i)">
            <div class="thumbNail" [ngClass]="{'selected': mediaJSON.selectedVideoUrl && this.mediaJSON.selectedVideoUrl===obj.url}">
              <img [src]="obj.thumbnail"/>
              <div>{{obj.name}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 my-auto">
    <div class="card">
      <div class="card-body rounded border border-dark">
        <div class="card-title h4 text-center w-100">
          <span>{{'media.adPrev' | translate}} </span><br *ngIf="mediaJSON.mediaTitle"><span class="small text-black-50 font-italic">{{mediaJSON.mediaTitle}}</span>
        </div>
        <div class="row">
          <app-player class="col-12 position-relative" style="height: 56.25%;" [footerBannerUrl]="mediaJSON?.footerBanner" [videoUrl]="mediaJSON?.selectedVideoUrl" [showFooterBanner]="mediaJSON?.showFooterBanner"></app-player>
        </div>
      </div>
    </div>
    <div class="row bottomDiv">
      <div class="col-12 text-center">
        <h4>
          {{'media.commercialsInfo' | translate}}
        </h4>
      </div>
      <div class="col-12">
        <div class="d-flex flex-wrap justify-content-center">
          <div class="logo">
            <img src="/assets/Logo/hulu.png" />
          </div>
          <div class="logo">
            <img src="/assets/Logo/ESPN.png"  />
          </div>
          <div class="logo">
            <img src="/assets/Logo/Roku.png"  />
          </div>
          <div class="logo">
            <img src="/assets/Logo/amc.png"  />
          </div>
          <div class="logo">
            <img src="/assets/Logo/abc.png"  />
          </div>
          <div class="logo">
            <img src="/assets/Logo/Fox.png" />
          </div>
          <div class="logo">
            <img src="/assets/Logo/HGTV.png" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-create-ad-footer [disableNext]="disableNext" (footerNext)="handleNext($event)" (footerPrevious)="handlePrevious($event)"></app-create-ad-footer>
<app-dialog dialogId="videoupload-dialog" #videoUploadDialog [dialogData]="videoUploadDialogData" [dialogBody]="videoUploadDialogBody" (dialogEvent)="onVideoUploadDialogEvent($event)"></app-dialog>
<app-dialog dialogId="company-videoupload-dialog" #companyVideoUploadDialog [dialogData]="companyVideoUploadDialogData" [dialogBody]="companyVideoUploadDialogBody" (dialogEvent)="onCompanyVideoUploadDialogEvent($event)"></app-dialog>
<ng-template #videoUploadDialogBody>
  <div class="row" *ngIf="videoUploadDialogData">
    <div class="col-12" *ngIf="videoUploadDialogData.hasInvalidVideo">
      <div class="alert alert-danger fade show" role="alert">{{videoUploadDialogData.errorVideoMessage}}</div>
    </div>
    <form class="col-12" [formGroup]="videoUploadForm" autocomplete="off">
      <div class="form-group">
        <label for="videoTitle">{{'media.vdoTitle' | translate}} </label>
        <input type="text" class="form-control" id="videoTitle" formControlName="videoTitle" (input)="setVideoTitle($event)">
        <p class="text-danger">
          <span *ngIf="!videoUploadForm.controls.videoTitle.pristine && videoUploadForm.controls.videoTitle.errors?.required">{{'media.videoTitleError' | translate}}</span>
        </p>
      </div>
      <div class="form-group">
        <label for="videoFile">{{'media.videoTimeError' | translate}}</label>
        <input type="file" formControlName="video" class="form-control-file" id="videoFile" accept="video/mp4" (input)="uploadVideoFile($event)" (change)="previewVideo($event, videoElement)">
        <div class="p-1" [class.d-block]="videoUploadDialogData?.showVideo" [class.d-none]="!videoUploadDialogData?.showVideo">
          <video id="video-element" #videoElement controls
                 style="max-height: 56.25%; max-width: 100%;"
                 (loadedmetadata)="onVideoMetaDataLoaded(videoElement, thumbCanvas)">
            <source type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' [src]="videoUploadDialogData?.videoSrc" (error)="onSourceError($event, mediaSource)" #mediaSource>
          </video>
          <canvas #thumbCanvas id="video-canvas" class="d-none"></canvas>
          <div class="row">
            <div class="col-12">{{'media.videoDuration' | translate}}: {{videoUploadDialogData?.videoDuration}} {{'media.seconds' | translate}} </div>
            <div class="col-12">{{'media.videoSize' | translate}}: {{videoUploadDialogData?.videoWidth}}x{{videoUploadDialogData?.videoHeight}} </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</ng-template>
<ng-template #companyVideoUploadDialogBody>
  <div class="row" *ngIf="companyVideoUploadDialogData">

    <div class="col-12" *ngIf="!isMarketingDirectorRole">
      {{'media.marketInfo' | translate}} <a href="#">{{'media.supportMail' | translate}}</a>. {{'media.marketSubInfo' | translate}} .
    </div>
    <div *ngIf='isMarketingDirectorRole'>
      <form  class="col-12" [formGroup]="companyVideoUploadForm" autocomplete="off">
        <div class="form-group">
          <label for="videoTitle">{{'media.vdoTitle' | translate}}</label>
          <input type="text" class="form-control" id="companyVideoTitle" formControlName="companyVideoTitle" (input)="setCompanyVideoTitle($event)">
          <p class="text-danger">
            <span *ngIf="!companyVideoUploadForm.controls.companyVideoTitle.pristine && companyVideoUploadForm.controls.companyVideoTitle.errors?.required">{{'media.videoTitleError' | translate}}</span>
          </p>
        </div>
        <div class="form-group">
          <label for="videoFile">{{'media.videoTimeError' | translate}}.</label>
          <input type="file" formControlName="video" class="form-control-file" id="videoFile" accept="video/mp4" (input)="uploadCompanyVideoFile($event)" (change)="previewCompanyVideo($event, videoElement)">
          <div class="p-1" [class.d-block]="companyVideoUploadDialogData?.showVideo" [class.d-none]="!companyVideoUploadDialogData?.showVideo">
            <video id="video-element" #videoElement controls
                   style="max-height: 56.25%; max-width: 100%;"
                   (loadedmetadata)="onCompanyVideoMetaDataLoaded(videoElement, thumbCanvas)">
              <source type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' [src]="companyVideoUploadDialogData?.videoSrc" (error)="onCompanyVideoSourceError($event, mediaSource)" #mediaSource>
            </video>
            <canvas #thumbCanvas id="video-canvas" class="d-none"></canvas>
            <div class="row">
              <div class="col-12">{{'media.videoDuration' | translate}}: {{companyVideoUploadDialogData?.videoDuration}} seconds</div>
              <div class="col-12">{{'media.videoSize' | translate}}: {{companyVideoUploadDialogData?.videoWidth}}x{{companyVideoUploadDialogData?.videoHeight}} </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</ng-template>
