<div id="camp-setup-header" class="row sticky-top bg-white py-2">
  <div class="col-12">
    <div class="row">
      <div class="col position-relative text-right">
        <a class="btn btn-cms-primary text-white p-abs-sm right" [routerLink]="currentUrl" (click)="newCampaign()">{{'campaign.create' | translate}}</a>
        <h3 class="text-center text-cms-primary w-100 mb-3">{{'campaign.title' | translate}}</h3>
      </div>
    </div>
    <div id="alert-message" class="alert alert-success d-none">
      {{'campaign.cancel' | translate}}
    </div>
    <div class="row mb-1 align-items-center">
      <div class="form-inline col text-nowrap mb-2">
        <span>{{'campaign.show' | translate}}</span>
        <select name="limit" [(ngModel)]="limit" class="form-control-sm bg-light text-cms-primary border-cms-primary mx-1" (change)="changeLimit()">
          <option [ngValue]="val" *ngFor="let val of limitOptions">{{val}}</option>
        </select>
        <span>{{'campaign.entry' | translate}}</span>
      </div>
      <nav class="float-right col-md-6" *ngIf="campaignsResp && campaignsResp.total > 0 && totalPages > 1">
        <ul class="pagination justify-content-start justify-content-md-end mb-1">
          <li class="page-item">
            <a class="page-link" [routerLink]="currentUrl" (click)="previousPage()">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">{{'nav.prev' | translate}}</span>
            </a>
          </li>
          <li class="page-item" *ngFor="let page of pages" [class.active]="page === currentPage">
            <a class="page-link" [routerLink]="currentUrl" (click)="navigatePage(page)">
              {{page}}
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" [routerLink]="currentUrl" (click)="nextPage()">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">{{'nav.next' | translate}}</span>
            </a>
          </li>
        </ul>
      </nav>
      <div class="clearfix"></div>
    </div>
    <hr class="w-100 mt-2 mb-0">
  </div>
</div>
<ng-container *ngIf="cancelDialogData && cancelDialogData.hasOwnProperty('cancelSuccess') && cancelDialogData.cancelSuccess !== null">
<div class="alert alert-dismissible" role="alert"
     [class.alert-danger]="cancelDialogData.cancelSuccess === false"
     [class.alert-success]="cancelDialogData.cancelSuccess === true"
>
  <span *ngIf="cancelDialogData.cancelSuccess === true">{{'campaign.cancel' | translate}}</span>
  <span *ngIf="cancelDialogData.cancelSuccess === false">{{'campaign.error' | translate}}</span>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
</ng-container>
<div class="table-responsive">
  <table class="table table-bordered table-striped-cms-secondary">
    <thead class="thead-cms-secondary">
      <tr>
        <th>{{'campaign.action' | translate}}</th>
        <th>{{'campaign.campaignName' | translate}}</th>
        <th>{{appDisplayName}} {{'campaign.ads' | translate}}</th>
        <th>{{'campaign.price' | translate}}</th>
        <th>{{'summary.sdate' | translate}} </th>
        <th>{{'campaign.nextbillingdate' | translate}} </th>
        <th>{{'summary.edate' | translate}}</th>
        <th>{{'campaign.status' | translate}}</th>
      </tr>
    </thead>
    <tbody class="text-cms-primary" *ngIf="campaignsResp && campaignsResp.total > 0 && campaignsResp.ads && campaignsResp.ads.length > 0">
      <tr *ngFor="let campaign of campaignsResp.ads; index as $index;">
        <td class="text-center text-nowrap">
          <span title="Edit Campaign" (click)="!editDisabled(campaign.status) && editCampaignDetails(campaign.id)"
                class="cms-icon" [ngClass]="{'disabled text-black-50': editDisabled(campaign.status)}">
            <svg width="28.722" height="28.483" fill="currentColor">
              <use xlink:href="assets/images/edit-campaign.svg#edit-campaign"></use>
            </svg>
          </span>
          <span title="Campaign Details" (click)="viewCampaignDetails(campaign.id)" class="cms-icon">
            <svg width='28.007' height='28.007' fill="currentColor">
              <use xlink:href="assets/images/details-campaign.svg#details-campaign"></use>
            </svg>
          </span>
          <span title="Analytics Report" (click)="!reportDisabled(campaign.status) && viewCampaignReport(campaign.id)"
                class="cms-icon" [ngClass]="{'disabled text-black-50': reportDisabled(campaign.status)}">
            <svg width='28.47' height='27.729' fill="currentColor">
              <use xlink:href="assets/images/analytics-campaign.svg#analytics-campaign"></use>
            </svg>
          </span>
        </td>
        <td>{{campaign.campaignName}}</td>
        <td>{{plansMap[campaign.planId].totalImpressions}}</td>
        <td>{{campaign.charge | currency : plansMap[campaign.planId].currency : 'symbol' : '0.0-2'}} {{plansMap[campaign.planId].period | lowercase}}</td>
        <td>{{campaign.startDate}}</td>
        <td>{{campaign.nextBillingDate}}</td>
        <td class="text-center">{{campaign.endDate}}</td>
        <td>
          <select [(ngModel)]="campaign.campaignStatus" id="changeStatus_{{campaign.id}}"
                  class="form-control-sm bg-light text-cms-primary border-cms-primary"
                  (change)="changeStatus(campaign, $index)" *ngIf="campaign.actions.length > 1">
            <option *ngFor="let opt of campaign.actions;" [ngValue]="opt.value">{{opt.label}}</option>
          </select>
          <span id="status_label{{$index}}" *ngIf="campaign.actions && campaign.actions.length === 1">{{campaign.status | campaignStatus}}</span>
        </td>
      </tr>
    </tbody>
    <tbody class="text-cms-primary" *ngIf="!campaignsResp || campaignsResp.total === 0">
      <tr>
      <td class="text-left" colspan="7">{{'campaign.noCamp' | translate}}</td>
      </tr>
    </tbody>
  </table>
</div>
<app-dialog dialogId="confirmation-dialog" #cancelDialog [dialogBody]="cancelDialogBody" [dialogData]="cancelDialogData" (dialogEvent)="cancelDialogEvent($event)"></app-dialog>
<ng-template #cancelDialogBody>
  <div class="row" *ngIf="cancelDialogData">
    <div class="col-12">{{'campaign.info' | translate}} <strong class="text-cms-primary">'{{cancelDialogData?.campaign?.campaignName}}'</strong></div>
  </div>
</ng-template>
