<div id="my-dashboard-header" class="row sticky-top bg-white ">
    <div class="col-12">
      <div style="flex-wrap: unset;" class=" d-flex d-sm-flex d-md-flex d-lg-flex d-xl-none text-center col row justify-content-center">
        <div style="display: flex;align-items: center;margin-right: 5px;" ><img style="width:40px;height:40px;" class="m-0" src="https://cdn.berkshirehathawayhs.io/atv/CTV_dashboard.png" alt="dashboardIMG"></div>
        <div><h3 class="m-0" style="line-height: 0.9;" class="text-center w-100 mb-0">{{'dashboard.dboard'| translate}}</h3>
        <span class="text-cms-dark "> {{'dashboard.tCampaign' | translate }} : {{campaignsResp?campaignsResp.total:0}} </span>
      </div></div>
        <div class="row align-items-center ">
            <div class="col-xl-2 col-lg-4 col-md-4 pb-1 col-sm-6 col-6 p-0 m-0 pl-1">
               <div class="row align-items-center m-0">
                <div class=" dropdown" style=" outline:none;">
                  <div class="dropdown-toggle py-2 p-1 text-cms-dark dashboardSelection" aria-expanded="false" aria-haspopup="true" role="button" data-toggle="dropdown"><span id="selected">{{selectedRangeOption }} <img  src="https://cdn.berkshirehathawayhs.io/icon/email_icons/BHHS_CalenderIcon.png" width="12px" style="width:20px; margin: 0 0 0 12px;" alt=""/></span></div>
                  <ul class="dropdown-menu" style="z-index:10000">
                    <div style="font-size:15px !important" class="dropdown-item text-cms-primary" (click)="selectedRangeOption=constants.last7days;filterCampaigns()"> {{'dashboard.7days'| translate}}</div>
                    <div style="font-size:15px !important" class="dropdown-item text-cms-primary" (click)="selectedRangeOption=constants.alltimes;filterCampaigns()"> {{'dashboard.allTimes'| translate}}</div>
                    <div style="font-size:15px !important" class="dropdown-item text-cms-primary" data-toggle="modal" data-target="#myModal" (click)="selectedRangeOption=constants.customdate;"> {{'dashboard.cDate'| translate}} : {{ customStartDate  }} - {{customEndDate }}</div>
                  </ul>
                  <div class="modal" id="myModal" style="background-color:none;height:280px;width:380px;overflow:hidden; padding:0;" role="dialog" data-backdrop="false">
                    <div class="modal-dialog" style="background-color:none">
                      <div class="modal-content" style="background-color:none">
                        <div class="modal-header py-1 px-1">
                          <div style="display:flex">
                            <h5>{{'dashboard.dRange'| translate}}</h5>
                          </div>
                          <button class="close px-2 py-0 m-0" type="button" style="font-size:26px;margin-top:-5px;margin-right:-5px;" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body p-0" style="display:flex;justify-content:space-evenly">
                          <div class="row" style="font-size:14px">
                            <div class="m-2 md-form md-outline input-with-post-icon datepicker" id="Startdate">
                              <label for="Startdate">{{'dashboard.sDate'| translate}}</label>
                              <input class="form-control" id="example" placeholder="Select date" type="Date" min="2001-11-11" max="{{ constants.max }}" onkeydown="return false" value="{{customStartDate}}" [(ngModel)]="customStartDate" (change)="isValid()"/>
                            </div>
                            <div class="m-2 md-form md-outline input-with-post-icon datepicker" id="Enddate">
                              <label for="Enddate">{{'dashboard.eDate'| translate}}</label>
                              <input class="form-control" id="example" placeholder="Select date" type="Date" min="2001-11-11" max="{{ constants.max }}" onkeydown="return false" value="{{customEndDate }}" [(ngModel)]="customEndDate" (change)="isValid()"/>
                            </div>
                          </div>
                        </div>
                        <div class="modal-footer w-100">
                          <button class="btn btn-primary m-1" type="button" data-dismiss="modal">{{'dashboard.cancel'| translate}}</button>
                          <button class="btn btn-primary m-1" type="button" [disabled]="!isValid()" (click)="filterCampaigns()" data-dismiss="modal">{{'dashboard.apply'| translate}}</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
               </div>
              </div>
             <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6 col-6 pb-1 pb-xl-0 p-0">
            <div class="dashboardSelection p-1 mx-1">
                <span>{{'dashboard.show'| translate}} {{'dashboard.entries'| translate}}</span>
                    <select name="limit" [(ngModel)]="limit" class="form-control-sm " (change)="changeLimit()">
                        <option [ngValue]="val" *ngFor="let val of limitOptions">{{val}}</option>
                    </select>
            </div>
          </div>
            <div style="flex-wrap: unset;" class=" d-none d-sm-none d-md-none d-lg-none d-xl-flex text-center justify-content-center col row ">
              <div style="display: flex;align-items: center;margin-right: 5px;" ><img style="width:40px;height:40px;" class="" src="https://cdn.berkshirehathawayhs.io/atv/CTV_dashboard.png" alt="dashboardIMG"></div>
              <div><h1 class="" style="margin:0; line-height: 0.9;" class="text-center w-100 mb-0">{{'dashboard.dboard'| translate}}</h1>
              <span class="text-cms-dark"> {{'dashboard.tCampaign' | translate }} : {{campaignsResp?campaignsResp.total:0}} </span>
            </div></div>
            <div class="col-xl-2 col-lg-4 col-md-4 col-sm-12 pb-2 pb-xl-0 p-0" >
            <div class="dashboardSelection p-1 mx-1">
              <span> {{'dashboard.cStatus'| translate}}&nbsp;</span>
              <select [(ngModel)]="dashboardFilters.selectedCampaignStatusFilterValue" id="filterCampaignStatusId"
                  class="form-control-sm "
                  (change)="filterCampaigns()">
                  <option *ngFor="let opt of campaignStatuses;" [ngValue]="opt.value">{{opt.label}}</option>
              </select>
            </div>
          </div>
            <div class="col-xl-3 col-lg-6 col-md-6 pb-2 pb-xl-0 p-0">
                <app-search (onSearchUpdate)="onSearchUpdate($event)" [selectedCriteria]="selectedCriteria" [criteriaList]="criteriaList"> </app-search>
            </div>
        </div>
        <div id="alert-message" class="alert alert-success d-none">
           {{'dashboard.NCfound'| translate}}
        </div>
        <div class="row m-0 pb-1 align-items-center">
            <div style="font-size: 20px;" class="form-inline col text-nowrap px-0 mb-1">
            {{'dashboard.pOverview'| translate}}
            </div>
            <nav class="float-right col-md-6 px-0" *ngIf="campaignsResp && campaignsResp.total > 0 && totalPages > 1">
            <ul class="dashboaedPagination pagination justify-content-start justify-content-md-end mb-1">
                <li class="page-item">
                <a class="page-link" [routerLink]="currentUrl" (click)="previousPage()">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only"> {{'dashboard.Previous'| translate}}</span>
                </a>
                </li>
                <li class="page-item" *ngFor="let page of pages" [class.active]="page === currentPage">
                <a class="page-link" [routerLink]="currentUrl" (click)="navigatePage(page)">
                    {{page}}
                </a>
                </li>
                <li class="page-item">
                <a class="page-link" [routerLink]="currentUrl" (click)="nextPage()">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">{{'dashboard.next'| translate}}</span>
                </a>
                </li>
            </ul>
            </nav>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-hover ">
        <thead class="thead-cms-lightGray">
            <tr>
                <td style="border: none; " class="pt-0 pb-0 " colspan="10">
                  <div class="row mb-0 " style="line-height:26px !important;margin-left: -12px;margin-right: -12px;border:1px solid var(--cms-dark); border-radius: 10px;">
                    <div class="col-12 p-0" style="border-collapse: collapse;padding:5px;">                 
                      <div class="row py-1 d-flex align-items-center justify-content-around m-0" style="flex-wrap:unset">
                        <div class="col p-0" style="display:flex;justify-content:center;align-items: center;" >
                          <div class="row py-1 align-items-center" style="flex-wrap:unset">
                            <div class="col">
                              <div class="row m-0">
                                <div class="col-12">
                                  <div class="text-cms-dark" style="font-size: 1rem;">{{'dashboard.tReach'| translate}} </div>
                                  <div class="dashSummarystats" id="totalReach">{{summaryStats.totalReach | number}}</div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class=""> <img width="45x" src="https://cdn.berkshirehathawayhs.io/atv/CTV_reach.png"/>
                          </div>
                        </div>
                        <div class="col p-0" style="display:flex;justify-content:center;align-items: center;border-left: 0.5px solid var(--cms-dark)">
                          <div class="row py-1 align-items-center" style="flex-wrap:unset">
                            <div class="col">
                              <div class="row m-0">
                                <div class="col-12">
                                  <div class="text-cms-dark" style="font-size: 1rem;">{{'dashboard.tViews'| translate}} </div>
                                  <div class=" dashSummarystats" id="TotalViews">{{summaryStats.totalViews | number}}</div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class=""><img width="45px" src="https://cdn.berkshirehathawayhs.io/atv/CTV_views.png"/></div>
                        </div>
                        <div class="col p-0" style="display:flex;justify-content:center;align-items: center;border-left: 0.5px solid var(--cms-dark);">
                          <div class="row py-1 align-items-center" style="flex-wrap:unset">
                            <div class="col">
                              <div class="row m-0">
                                <div class="col-12">
                                  <div class="text-cms-dark" style="font-size: 1rem;">{{'dashboard.tClicks'| translate}} </div>
                                  <div class="dashSummarystats" id="TotalClicks">{{summaryStats.totalClicks | number}}</div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class=""><img width="45x" src="https://cdn.berkshirehathawayhs.io/atv/CTV_click.png"/></div>
                        </div>
                        <div class="col p-0" style="display:flex;justify-content:center;align-items: center;border-left: 0.5px solid var(--cms-dark);">
                          <div class="row py-1 align-items-center" style="flex-wrap:unset">       
                            <div class="col">
                              <div class="row m-0">
                                <div class="col-12">
                                  <div class="text-cms-dark" style="font-size: 1rem;">{{'dashboard.ctr'| translate}}</div>
                                  <div class="dashSummarystats" id="CTR">{{summaryStats.ctr.toFixed(2)}}%</div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class=""><img width="45px" src="https://cdn.berkshirehathawayhs.io/atv/CTV_ctr.png"/></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <hr class="w-100 mt-1 mb-0 borderNone">
                </td>
              </tr>  
        <tr class="bg-cms-lightGray borderNone roundedcorner">
            <th >{{'dashboard.action'| translate}}</th>
            <th >{{'dashboard.cID'| translate}}</th>
            <th class="sortable"  [ngClass]="(sortBy==='campaignname')?sortOrder:''" (click)="sortColumn(campaignname)" data-sort-by='campaignname' #campaignname>{{'dashboard.cName'| translate}}</th>
            <th class="sortable" [ngClass]="(sortBy==='reach')?sortOrder:''" (click)="sortColumn(reach)" data-sort-by='reach' #reach> {{'dashboard.reach'| translate }}</th>
            <th class="sortable" [ngClass]="(sortBy==='views')?sortOrder:''" (click)="sortColumn(views)" data-sort-by='views' #views> {{'dashboard.views'| translate }} </th>
            <th class="sortable" [ngClass]="(sortBy==='click')?sortOrder:''" (click)="sortColumn(click)" data-sort-by='clicks' #click> {{'dashboard.click'| translate }}</th>
            <th >{{'dashboard.ctr'| translate }}</th>
            <th class="sortable " [ngClass]="(sortBy==='startdate')?sortOrder:''" (click)="sortColumn(startdate)" data-sort-by='startdate' #startdate>{{'dashboard.sDate'| translate}}</th>
            <th class="sortable text-center" [ngClass]="(sortBy==='enddate')?sortOrder:''" (click)="sortColumn(enddate)" data-sort-by='enddate' #enddate>{{'dashboard.eDate'| translate}}</th>
            <th >{{'dashboard.adstatus'| translate}}</th>
        </tr>
        </thead>
        <tbody class="" *ngIf="campaignsResp && campaignsResp.total > 0 && campaignsResp.ads && campaignsResp.ads.length > 0">
        <tr class="pb-1 roundedcorner" *ngFor="let campaign of campaignsResp.ads; index as $index;">
            <td class="text-center text-nowrap text-cms-primary ">
            <span title="Analytics Report" (click)="!reportDisabled(campaign.status) && viewCampaignReport(campaign.id)"
                    class="cms-icon" [ngClass]="{'disabled text-black-50': reportDisabled(campaign.status)}">
                <svg width='28.47' height='27.729' fill="currentColor">
                <use xlink:href="assets/images/analytics-campaign.svg#analytics-campaign"></use>
                </svg>
            </span>
            </td>
            <td >{{campaign.id}}</td>
            <td >{{campaign.campaignName}}</td>
            <td >{{campaign.stats ? campaign.stats.reach : 0}}</td>
            <td >{{campaign.stats ? campaign.stats.impression : 0}}</td>
            <td >{{campaign.stats ? campaign.stats.click : 0}}</td>
            <td >{{campaign.stats && campaign.stats.impression>0 && campaign.stats.click>0 ? ((campaign.stats.click/campaign.stats.impression)*100).toFixed(2) : 0}}%</td>
            <td >{{campaign.startDate}}</td>
            <td >{{campaign.endDate}}</td>
            <td align="center" class="" style="vertical-align:middle;"><div [ngStyle]="{'background':campaignStatusClr(campaign.status)}"class="dashCampaignstatus">{{campaign.campaignStatusLabel}}</div></td>
        </tr>
        </tbody>
        <tbody class="text-cms-dark" *ngIf="!campaignsResp || campaignsResp.total === 0">
        <tr>
        <td class="text-left roundedCornererr" colspan="10">{{'dashboard.NCfound'| translate}}</td>
        </tr>
        </tbody>
    </table>
</div>
  
  