.footerBtn{
    margin-bottom: 50px;
}
.footerBtn button{
    justify-content: center;
}
.bckBtn{
    display: inline-flex;
}
.bckBtn img{
    display: block;
    margin-top: 4px;
}
.bckBtn div{
    display: inline-block;
    margin-left: 11px;
}
.nextBtn{
    display: inline-flex;
}
.nextBtn img{
    display: block;
    margin-top: 4px;
}
.nextBtn div{
    display: inline-block;
    margin-right: 10px;
}
