<div class="row footerBtn">
    <div class="col-12 mb-2 p-abs-sm text-right" style="z-index: 1;">
        <button [hidden]="hidePrevious" [disabled]="disablePrevious" id="back_button" type="button" class="btn btn-cms-primary text-white ml-1 bckBtn" (click)="gotoPreviousPage()">
           <img src="/assets/images/back.png" height="17px"/>
           <div>{{previousButtonLabel}}</div>
        </button>
        <button [disabled]="disableNext" id="next_button" type="button" class="btn btn-cms-primary text-white ml-1 nextBtn" (click)="gotoNextPage()">
            <div>{{nextButtonLabel}}</div>
            <img src="/assets/images/next.png" height="17px"/>
        </button>
    </div>
</div>
