<app-step-nav (stepChange)="stepChanged($event)"></app-step-nav>
<div class="h3 font-weight-bold">{{'banner.title' | translate}}</div>
<hr class="w-100 border-dark">
<div class="row">
<div class="col-lg-6">
  <div id="templateGallery" #templateGallery class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item" *ngFor="let template of templates; let i = index;"  [attr.data-template-id]="template.data.templateId" [attr.data-index]="i" [class.active]="selectedTemplate.data.templateId === template.data.templateId">
        <app-footer-template [template]="template"></app-footer-template>
      </div>
    </div>
  </div>
    <div class="py-2" *ngIf="templates && templates.length > 0">
      <a class="btn btn-outline-cms-primary" title="Previous Template" (click)="slide(-1 )">
        <svg class="bi" width="20" height="20" fill="currentColor">
          <use xlink:href="css/bootstrap-icons.svg#arrow-left-circle"></use>
        </svg>
      </a>
      <span class="px-1"></span>
      <a class="btn btn-outline-cms-primary" title="Next Template" (click)="slide(1)">
        <svg class="bi" width="20" height="20" fill="currentColor">
          <use xlink:href="css/bootstrap-icons.svg#arrow-right-circle"></use>
        </svg>
      </a>
    </div>
  <div class="row" *ngIf="selectedTemplate">
    <form class="col-12">
      <div class="form-group">
        <label for="headlineText">{{'banner.headlineText' | translate}}</label>
        <input #headlineText id="headlineText" name="headlineText" type="text" class="form-control"
               attr.data-max-length="{{selectedTemplate.data.maxlength.headlineText}}"
               attr.data-max-size="{{selectedTemplate.data.fontSizeFactorConfig.headlineText.max}}"
               attr.data-min-size="{{selectedTemplate.data.fontSizeFactorConfig.headlineText.min}}"
               [(ngModel)]="selectedTemplate.data.headlineText" (ngModelChange)="onTextInput(headlineText, 'headlineText')"
               [attr.maxlength]="selectedTemplate.data.maxlength.headlineText">
      </div>
      <div class="form-group" *ngIf="selectedTemplate.data.visibility?.website !== false">
        <label for="website">{{'banner.siteAddr' | translate}}</label>
        <input #website id="website" name="website" type="url" class="form-control"
               attr.data-max-length="{{selectedTemplate.data.maxlength.website}}"
               attr.data-max-size="{{selectedTemplate.data.fontSizeFactorConfig.agentDetails.max}}"
               attr.data-min-size="{{selectedTemplate.data.fontSizeFactorConfig.agentDetails.min}}"
               [(ngModel)]="selectedTemplate.data.website" (ngModelChange)="onTextInput(website, 'agentDetails')"
               [attr.maxlength]="selectedTemplate.data.maxlength.website">
      </div>
      <div class="form-group" *ngIf="selectedTemplate.data.visibility?.email !== false">
        <label for="email">{{'banner.email' | translate}}</label>
        <input #email id="email" name="email" type="email" class="form-control"
               attr.data-max-length="{{selectedTemplate.data.maxlength.email}}"
               attr.data-max-size="{{selectedTemplate.data.fontSizeFactorConfig.agentDetails.max}}"
               attr.data-min-size="{{selectedTemplate.data.fontSizeFactorConfig.agentDetails.min}}"
               [(ngModel)]="selectedTemplate.data.email" (ngModelChange)="onTextInput(email, 'agentDetails')"
               [attr.maxlength]="selectedTemplate.data.maxlength.email">
      </div>
      <div class="form-group" *ngIf="selectedTemplate.data.visibility?.phone !== false">
        <label for="phone">{{'banner.phone' | translate}}</label>
        <input id="phone" name="phone" type="text" class="form-control" [(ngModel)]="selectedTemplate.data.phone" [attr.maxlength]="selectedTemplate.data.maxlength.phone">
      </div>
      <div style="display:flex;width:100%">
        <div class="form-group" style="width:50%">
          <input type="checkbox" name="overlaybanner" id="add-banner" [(ngModel)]="campaign.overlaybanner">
          <label for="add-banner" class="pl-2">{{'banner.addBanner' | translate}}</label>
        </div>
        <div class="form-group" *ngIf="selectedTemplate.data.breNumber">
          <input type="checkbox" name="breNumber" id="add-breNumber" [(ngModel)]="campaign.breNumber" (change)="selectedTemplate.data.visibility.breNumber = campaign.breNumber">
          <label for="add-breNumber" class="pl-2">{{'banner.dreNumber' | translate}}</label>
        </div>
      </div>
    </form>
  </div>
</div>
  <div class="col-lg-6">
    <div class="row align-items-center justify-content-center" *ngIf="campaign">
      <app-player class="col-12 position-relative mw-100 my-2 text-center my-2" style="height: 56.25%;" videoUrl="{{campaign.videoUrl}}" footerBannerUrl="{{campaign.bottomBannerUrl}}" [showFooterBanner]="campaign.overlaybanner" [bannerTemplate]="playerBannerTemplate"></app-player>
    </div>
  </div>
</div>
<app-create-ad-footer [disableNext]="disableNext" (footerNext)="handleNext($event)" (footerPrevious)="handlePrevious($event)" [nextButtonLabel]="nextButtonLabel"></app-create-ad-footer>
