<div class="row px-3 mb-4" *ngIf="overallStats">
  <div class="col-12" style="border: solid 1px #000; border-collapse: collapse;">
    <div class="row">
      <div class="col-12 stats_header">{{'analytics.overall' | translate}}</div>
    </div>
    <div class="row py-2 align-items-center">
      <div class="col-md-4">
        <div class="row py-2 align-items-center">
          <div class="pl-3">
            <img src="https://cdn.cmcd1.com/magnet/assets/images/imprIcon.png" alt="">
          </div>
          <div class="col">
            <div class="row">
              <div class="col-12">
                <div class="text-cms-dark">{{'analytics.tViews' | translate}}</div>
                <div style="font-size: 1.125rem;">{{overallStats?.impressions}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row py-2 align-items-center">
          <div class="pl-3">
            <img src="https://cdn.cmcd1.com/magnet/assets/images/clickIcon.png" alt="">
          </div>
          <div class="col">
            <div class="row">
              <div class="col-12">
                <div class="text-cms-dark">{{'analytics.tClicks' | translate}}</div>
                <div style="font-size: 1.125rem;">{{overallStats?.clicks}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row py-2 align-items-center">
          <div class="pl-3">
            <img src="https://cdn.cmcd1.com/magnet/assets/images/ctrIcon.png" alt="">
          </div>
          <div class="col">
            <div class="row">
              <div class="col-12">
                <div class="text-cms-dark">{{'analytics.ctr' | translate}}</div>
                <div style="font-size: 1.125rem;">{{overallStats?.ctr | number : '0.0-2'}}%</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="barchartContainer" class="row" *ngIf="dailyStats">
  <div class="col-lg-4 d-flex justify-content-center mb-3">
    <app-rounder-bar-chart class="w-100" canvasElementId="impressionChartCanvas" chartTitle="Total Views" barChartColor="rgba(138, 227, 106, 1)" [chartData]="dailyStats" [chartType]="barChartType.IMPRESSION"></app-rounder-bar-chart>
  </div>
  <div class="col-lg-4 d-flex justify-content-center mb-3">
    <app-rounder-bar-chart class="w-100" canvasElementId="clicksChartCanvas" chartTitle="Total Clicks" barChartColor="rgba(255, 181, 0, 1)" [chartData]="dailyStats" [chartType]="barChartType.CLICKS"></app-rounder-bar-chart>
  </div>
  <!-- // Page break on print -->
  <div class="page-break-after d-none d-print-block" style="height: 500px;width: 1px;"></div>
  <div class="col-lg-4 d-flex justify-content-center mb-3">
    <app-rounder-bar-chart class="w-100" canvasElementId="ctrChartCanvas" chartTitle="CTR" barChartColor="rgba(255, 80, 89, 1)" [chartData]="dailyStats" [chartType]="barChartType.CTR"></app-rounder-bar-chart>
  </div>
</div>
<div class="row flex-lg-nowrap" *ngIf="locationStats">
  <div class="col-lg-6 justify-content-center mb-3">
    <app-views-clicks-map [mapType]="heatMapTypes.IMPRESSIONS" mapContainerId="map_analytics_views" mapTitle="Views" style="border: 1px solid; display: block;" [mapData]="locationStats"></app-views-clicks-map>
  </div>
  <div class="page-break-after d-none d-print-block" style="height: 700px;width: 1px;"></div>
  <!-- // Page break on print -->
  <div class="col-lg-6 justify-content-center mb-3">
    <app-views-clicks-map [mapType]="heatMapTypes.CLICKS" mapContainerId="map_analytics_clicks" mapTitle="Clicks" style="border: 1px solid; display: block;" [mapData]="locationStats"></app-views-clicks-map>
  </div>
</div>
<div class="row align-items-center" *ngIf="deviceStats">
  <div class="col-md-6 col-lg-3 mb-2">
    <div class="byDevice">
      <div>{{getLabelForDeviceName(allDevices.OTHER)}}</div>
      <div>{{'analytics.clicks' | translate}}: {{deviceStats?.other?.clicks}}</div>
      <div>{{'analytics.impre' | translate}}: {{deviceStats?.other?.impressions}}</div>
      <div>{{'analytics.ctr' | translate}}: {{deviceStats?.other?.ctr | number : '0.0-2'}}%</div>
    </div>
  </div>
  <div class="col-md-6 col-lg-3 mb-2">
    <div class="byAndroid">
      <div>{{getLabelForDeviceName(allDevices.ANDROID)}}</div>
      <div>{{'analytics.clicks' | translate}}: {{deviceStats?.android?.clicks}}</div>
      <div>{{'analytics.impre' | translate}}: {{deviceStats?.android?.impressions}}</div>
      <div>{{'analytics.ctr' | translate}}: {{deviceStats?.android?.ctr | number : '0.0-2'}}%</div>
    </div>
  </div>
  <div class="col-md-6 col-lg-3 mb-2">
    <div class="byIos">
      <div>{{getLabelForDeviceName(allDevices.IOS)}}</div>
      <div>{{'analytics.clicks' | translate}}: {{deviceStats?.ios?.clicks}}</div>
      <div>{{'analytics.impre' | translate}}: {{deviceStats?.ios?.impressions}}</div>
      <div>{{'analytics.ctr' | translate}}: {{deviceStats?.ios?.ctr | number : '0.0-2'}}%</div>
    </div>
  </div>
  <div class="col-md-6 col-lg-3 mb-2">
    <div class="byDesktop">
      <div>{{getLabelForDeviceName(allDevices.DESKTOP)}}</div>
      <div>{{'analytics.clicks' | translate}}: {{deviceStats?.desktop?.clicks}}</div>
      <div>{{'analytics.impre' | translate}}: {{deviceStats?.desktop?.impressions}}</div>
      <div>{{'analytics.ctr' | translate}}: {{deviceStats?.desktop?.ctr | number : '0.0-2'}}%</div>
    </div>
  </div>
</div>
