<style>
.info-tooltip {
  position: absolute;
  display: inline-block;
  opacity: 62;
  z-index: 1124;
  width: 100vw;
}

.info-tooltip .info-tooltiptext {
  visibility: hidden;
  box-shadow: 0 2px 2px rgba(0,0,0,0.25), 0 2px 10px rgba(0,0,0,0.22);
  background-color: white;
  color: black;
  text-align: center;
  padding: 5px;
  z-index: 2;
  margin-left: 25px;
  bottom: -59px;
  font-size: 14px;
  left: 0px;
  position: inherit;
  font-family: 'Manrope', Arial;
  font-weight: 500;
  transition: all 1s;

}

.info-tooltip .info-tooltiptext::after {
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;

}

.info-tooltip:hover .info-tooltiptext {
  visibility: visible;
}
</style>

<div class="info-tooltip" id="info-tooltip">
    <div class="info-tooltiptext" id="info-tooltip-msg">
    </div>
</div>
<router-outlet></router-outlet>
