<app-step-nav (stepChange)="stepChanged($event)"></app-step-nav>
<div class="h3 font-weight-bold">{{'summary.title' | translate}}</div>
<hr class="w-100 border-dark">
<div class="alert alert-danger alert-dismissible" *ngIf="errors.hasPublishError" role="alert">
  <strong>{{'summary.error' | translate}}!</strong> {{'summary.errorMsg' | translate}}. {{errors.publish}}
  <button type="button" class="close" aria-label="Close" (click)="closePublishError()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="row justify-content-center" *ngIf="campaign">
  <div class="col-lg-9 col-xl-8">
    <div class="table-responsive">
      <table class="table table-bordered table-striped-cms-secondary">
        <tbody>
        <tr>
          <td class="text-cms-primary">{{'summary.campName' | translate}}</td>
          <td>{{campaign.campaignName}}</td>
        </tr>
        <tr>
          <td class="text-cms-primary">{{'summary.price' | translate}}</td>
          <td><span class="text-cms-primary font-weight-bold">{{campaign.charge | currency : plansMap[campaign.planId].currency : 'symbol' : '0.0-2'}} </span>{{plansMap[campaign.planId].period | lowercase}}</td>
        </tr>
        <tr>
          <td class="text-cms-primary">{{'summary.sdate' | translate}}</td>
          <td>{{campaign.startDate}}</td>
        </tr>
        <tr>
          <td class="text-cms-primary">{{'summary.edate' | translate}}</td>
          <td>{{campaign.endDate}}</td>
        </tr>
        <tr>
          <td class="text-cms-primary">{{'summary.landingPage' | translate}}</td>
          <td>{{campaign.landingPage}}</td>
        </tr>
        <tr>
          <td class="text-cms-primary">{{'summary.status' | translate}}</td>
          <td>{{campaign.status | campaignStatus}}</td>
        </tr>
        <tr>
          <td class="text-cms-primary">{{'summary.type' | translate}}</td>
          <td>{{campaign.targetingType | titlecase}}</td>
        </tr>
        <tr *ngIf="campaign.radiusTargeting">
          <td class="text-cms-primary">{{'summary.targetRad' | translate}}</td>
          <td>{{campaign.radiusTo}} {{distanceUnits.MILES}}</td>
        </tr>
        <tr>
          <td class="text-cms-primary text-left font-weight-bold" colspan="2">{{'summary.targetLoc' | translate}}</td>
        </tr>
        <tr>
          <td colspan="2">
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead class="thead-cms-secondary"><tr><th>{{'summary.addr' | translate}}</th></tr></thead>
                <tbody>
                <tr *ngFor="let location of campaign.addresses">
                  <td>{{location | targetLocationFormat | titlecase}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<h4 class="text-center text-cms-primary w-100 my-3" *ngIf="campaign">{{'summary.commercial' | translate}}</h4>
<div class="row align-items-center justify-content-center" *ngIf="campaign">
  <app-player class="col-lg-8 col-xl-6 position-relative mw-100 my-2 text-center my-2" style="height: 56.25%;" videoUrl="{{campaign.videoUrl}}" footerBannerUrl="{{campaign.bottomBannerUrl}}" [showFooterBanner]="campaign.overlaybanner"></app-player>
</div>
<app-create-ad-footer [disableNext]="disableNext" (footerNext)="handleNext($event)" (footerPrevious)="handlePrevious($event)" [nextButtonLabel]="nextButtonLabel"></app-create-ad-footer>
