@font-face {
  font-family: 'GeorgiaPro';
  src: url("https://cdn.cmcd1.com/magnet/assets/fonts/GeorgiaPro-Light.ttf");
  src: url("https://cdn.cmcd1.com/magnet/assets/fonts/GeorgiaPro-Light.woff2") format("woff2"), url("https://cdn.cmcd1.com/magnet/assets/fonts/GeorgiaPro-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GeorgiaPro';
  src: url("https://cdn.cmcd1.com/magnet/assets/fonts/GeorgiaPro-Regular.ttf");
  src: url("https://cdn.cmcd1.com/magnet/assets/fonts/GeorgiaPro-Regular.woff2") format("woff2"), url("https://cdn.cmcd1.com/magnet/assets/fonts/GeorgiaPro-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GeorgiaPro';
  src: url("https://cdn.cmcd1.com/magnet/assets/fonts/GeorgiaPro-SemiBold.ttf");
  src: url("https://cdn.cmcd1.com/magnet/assets/fonts/GeorgiaPro-SemiBold.woff2") format("woff2"), url("https://cdn.cmcd1.com/magnet/assets/fonts/GeorgiaPro-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GeorgiaPro';
  src: url("https://cdn.cmcd1.com/magnet/assets/fonts/GeorgiaPro-Bold.ttf");
  src: url("https://cdn.cmcd1.com/magnet/assets/fonts/GeorgiaPro-Bold.woff2") format("woff2"), url("https://cdn.cmcd1.com/magnet/assets/fonts/GeorgiaPro-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'proxima-nova';
  src: url("https://cdn.cmcd1.com/magnet/assets/fonts/ProximaNova-Light.ttf");
  src: url("https://cdn.cmcd1.com/magnet/assets/fonts/ProximaNova-Light.woff2") format("woff2"), url("https://cdn.cmcd1.com/magnet/assets/fonts/ProximaNova-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'proxima-nova';
  src: url("https://cdn.cmcd1.com/magnet/assets/fonts/ProximaNova-Regular.ttf");
  src: url("https://cdn.cmcd1.com/magnet/assets/fonts/ProximaNova-Regular.woff2") format("woff2"), url("https://cdn.cmcd1.com/magnet/assets/fonts/ProximaNova-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'proxima-nova';
  src: url("https://cdn.cmcd1.com/magnet/assets/fonts/ProximaNova-RegularIt.ttf");
  src: url("https://cdn.cmcd1.com/magnet/assets/fonts/ProximaNova-RegularIt.woff2") format("woff2"), url("https://cdn.cmcd1.com/magnet/assets/fonts/ProximaNova-RegularIt.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'proxima-nova';
  src: url("https://cdn.cmcd1.com/magnet/assets/fonts/ProximaNova-Semibold.ttf");
  src: url("https://cdn.cmcd1.com/magnet/assets/fonts/ProximaNova-Semibold.woff2") format("woff2"), url("https://cdn.cmcd1.com/magnet/assets/fonts/ProximaNova-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'proxima-nova';
  src: url("https://cdn.cmcd1.com/magnet/assets/fonts/ProximaNova-Bold.ttf");
  src: url("https://cdn.cmcd1.com/magnet/assets/fonts/ProximaNova-Bold.woff2") format("woff2"), url("https://cdn.cmcd1.com/magnet/assets/fonts/ProximaNova-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'proxima-nova';
  src: url("https://cdn.cmcd1.com/magnet/assets/fonts/ProximaNova-Xbold.ttf");
  src: url("https://cdn.cmcd1.com/magnet/assets/fonts/ProximaNova-Xbold.woff2") format("woff2"), url("https://cdn.cmcd1.com/magnet/assets/fonts/ProximaNova-Xbold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'proxima-nova';
  src: url("https://cdn.cmcd1.com/magnet/assets/fonts/ProximaNova-Black.ttf");
  src: url("https://cdn.cmcd1.com/magnet/assets/fonts/ProximaNova-Black.woff2") format("woff2"), url("https://cdn.cmcd1.com/magnet/assets/fonts/ProximaNova-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Marcellus';
  font-style: normal;
  font-weight: 400;
  src: url('https://cdn.cmcd1.com/magnet/assets/fonts/Marcellus-Regular.ttf');
  src: local('Marcellus'), url('https://cdn.cmcd1.com/magnet/assets/fonts/Marcellus-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  src: local('Arial'), url('https://cdn.cmcd1.com/magnet/assets/fonts/ARIAL.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  src: url('https://cdn.cmcd1.com/magnet/assets/fonts/manrope-regular.ttf');
  src: local('Manrope'), url('https://cdn.cmcd1.com/magnet/assets/fonts/manrope-regular.woff') format('woff'), url('https://cdn.cmcd1.com/magnet/assets/fonts/manrope-regular.woff2') format('woff2');
  font-display: swap;
}